In [1]:
import vnstock as vns

In [4]:
vns.ticker_overview('TCB')

,exchange,shortName,industryID,industryIDv2,industry,industryEn,establishedYear,noEmployees,noShareholders,foreignPercent,website,stockRating,deltaInWeek,deltaInMonth,deltaInYear,outstandingShare,issueShare,companyType,ticker
0,HOSE,Techcombank,289,8355,Ngân hàng,Banks,1993,9757,1901,0.225,http://www.techcombank.com.vn,4.2,0.003,0.074,-0.086,3517.2,3517.2,NH,TCB

In [12]:
df = vns.stock_historical_data(symbol='BID', 
                            start_date="2023-02-05", 
                            end_date='2023-04-21')

In [13]:
df

       Open     High      Low    Close   Volume TradingDate
0   43300.0  45000.0  42900.0  45000.0  1748181  2023-02-06
1   45000.0  45350.0  43700.0  43800.0  1569559  2023-02-07
2   43900.0  45250.0  43900.0  44500.0  1798589  2023-02-08
3   44500.0  45000.0  44000.0  44000.0  1185612  2023-02-09
4   44400.0  44550.0  42950.0  42950.0  1398920  2023-02-10
5   42950.0  44400.0  42950.0  44400.0  1590833  2023-02-13
6   44500.0  44500.0  43300.0  43400.0  1325859  2023-02-14
7   43150.0  44450.0  43150.0  44000.0   605202  2023-02-15
8   44700.0  45000.0  44000.0  45000.0  1068840  2023-02-16
9   45000.0  45800.0  44950.0  45800.0  1495042  2023-02-17
10  45800.0  47350.0  45800.0  47200.0  1511483  2023-02-20
11  47200.0  47300.0  46250.0  46250.0   998047  2023-02-21
12  45850.0  46000.0  45000.0  45000.0   995108  2023-02-22
13  44950.0  45550.0  43700.0  45550.0  1281017  2023-02-23
14  45050.0  45550.0  44400.0  44600.0   498530  2023-02-24
15  44500.0  44500.0  43600.0  44250.0   939736  2023-02-27
16  44250.0  44600.0  44050.0  44100.0   258186  2023-02-28
17  44000.0  45650.0  43800.0  45650.0   741537  2023-03-01
18  45650.0  46500.0  45400.0  46400.0   977626  2023-03-02
19  46400.0  46500.0  45250.0  45900.0   736210  2023-03-03
20  45900.0  47000.0  45300.0  45800.0   865699  2023-03-06
21  45500.0  47100.0  45500.0  46900.0  1635598  2023-03-07
22  46400.0  48000.0  45900.0  48000.0  1231249  2023-03-08
23  48000.0  48000.0  47050.0  47650.0  1172128  2023-03-09
24  47450.0  47450.0  46950.0  47150.0   862825  2023-03-10
25  46600.0  46900.0  46250.0  46250.0   934562  2023-03-13
26  46100.0  46350.0  44750.0  45050.0  1445334  2023-03-14
27  46000.0  47400.0  45450.0  46800.0   629549  2023-03-15
28  46050.0  46900.0  46050.0  46250.0   876442  2023-03-16
29  47000.0  47000.0  46000.0  46300.0   311230  2023-03-17
30  46000.0  46000.0  45000.0  45350.0   586661  2023-03-20
31  45400.0  45750.0  44800.0  45350.0   742304  2023-03-21
32  45750.0  46200.0  45450.0  46100.0   561786  2023-03-22
33  45300.0  46000.0  45300.0  45900.0   415155  2023-03-23
34  45900.0  46300.0  45500.0  45550.0   365179  2023-03-24
35  45550.0  46150.0  45000.0  46000.0   673205  2023-03-27
36  46500.0  46800.0  46000.0  46000.0   505224  2023-03-28
37  46000.0  46350.0  45550.0  46200.0   303827  2023-03-29
38  46250.0  46600.0  46200.0  46200.0   700455  2023-03-30
39  46200.0  47000.0  46050.0  46200.0   644471  2023-03-31
40  46650.0  46800.0  45800.0  45900.0  1264390  2023-04-03
41  45900.0  46150.0  45700.0  46000.0   890133  2023-04-04
42  46000.0  46300.0  45300.0  45500.0  1364548  2023-04-05
43  45500.0  46500.0  45300.0  46000.0  1515622  2023-04-06
44  45750.0  46000.0  45500.0  45650.0   732129  2023-04-07
45  45800.0  45800.0  44700.0  44700.0  1806628  2023-04-10
46  44450.0  44650.0  44150.0  44400.0  1229631  2023-04-11
47  44500.0  44800.0  44200.0  44400.0   775972  2023-04-12
48  44400.0  45000.0  44400.0  44950.0   779789  2023-04-13
49  45000.0  45000.0  44450.0  44450.0   619122  2023-04-14
50  44450.0  45100.0  44400.0  45000.0   716933  2023-04-17
51  44800.0  45000.0  44300.0  44600.0   639923  2023-04-18
52  44750.0  44750.0  44200.0  44400.0   452844  2023-04-19
53  44350.0  44600.0  44150.0  44600.0   257397  2023-04-20
54  44600.0  44600.0  44200.0  44200.0   354941  2023-04-21